body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
#title {
    font-size: 36px;
    outline: 1px solid;
    text-align: center;
    margin: 20px 0;
}
#calculator-container {
    background-color: yellowgreen;
    margin: 45px auto;
    width: 440px;
    height: 540px;
    border: 1px solid;
}
#display {
    background-color: brown;
    border: 1px solid;
    width: 439px;
    height: 100px;
}
#display-text {
    display: block;
    background-color: green;
    font-size: 52px;
    text-align: right;
    margin: 19px 0; 
}
#buttons-container {
    font-size: 0;
    outline: 1px solid;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.buttons {
    height: 110px;
    width: 110px;
    font-size: 35px;
}
